* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  background-color: #323f4b;
  color: #e4f1fe;
}
