.upload-form {
  input {
    border: none;
  }
  textarea {
    display: block;
    font-family: 'Roboto';
    font-size: 1em;
    padding: 10px;
    width: 80%;
    height: 3em;
    border-radius: 5px;
  }
}
